<div class="footer_container">
    <footer class="container py-2">
        <div class="footer-links">
            <a href="/listings">&copy;2023 Airbnb,Inc</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Sitemap</a>
            <a href="">Company Details</a>
        </div>
        <div class="footer-social">
            <a href=""><i class="fa-solid fa-earth-asia"></i> English(IN)</a>
            <a href="">&#8377; INR</a>
            <div class="footer-socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </footer>
</div>